body {
    background-color: antiquewhite;
}

.center {
    text-align: center;

}

form {
    width: 50%;
    margin: auto;
}

.sixty {
    width: 60%;
}

.margin {
    margin-top: 20px;
    margin-bottom: 20px;
}

select {
    width: 60%;
}

h1 {
    color: brown;
}

h3 {
    color: rgb(219, 148, 17);
}
